* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 40px;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

h6 {
  margin-top: 10px;
  color: grey;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.btn-reverse {
  background: #000;
  color: #fff;
}

/* App */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 70px;
}

.header ul {
  display: flex;
  /* gap: 20px; */
  /* align-items: center; */
  /* justify-content: space-between; */
}

.header ul li {
  margin-left: 45px;
}

.header ul li a {
  /* target multiple elements */
  display: flex;
  align-items: center;
}

/* Home */
.home-btns {
  display: flex;
  gap: 50px;
}

/* Register */ /* Login */ /* NewTicket */
.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.form {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

/* Ticket */
.singleTicket {
  text-align: left;
}

/* Tickets */
.tickets-title {
  margin-bottom: 40px;
}

.ticket,
.ticket-headings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}

.ticket-headings {
  background: #f4f4f4;
  font-weight: 700;
}
